<section>
  <div class="portfolio-top">
    <div class="row">
      <div class="column">
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/cusco.jpg", id: "cusco", alt: "cusco" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/frozen.jpg", id: "frozen", alt: "frozen" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/dew.jpg", id: "dew", alt: "waterdrops" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/lifesize.jpg", id: "lifesize", alt: "lifesize" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/sunset.jpg", id: "sunset", alt: "sunset" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/sparks.JPG", id: "sparks", alt: "sparks" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/rust.jpg", id: "rust", alt: "rust" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/geometry.JPG", id: "geometric", alt: "geometric" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/moss.jpg", id: "moss", alt: "moss" %>
      </div>

      <div class="column">
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/capitola.jpg", id: "capitola", alt: "capitola" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/mercedes.jpg", id: "mercedes", alt: "mercedes" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/float.jpg", id: "float", alt: "float" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/artsy.jpg", id: "artsy", alt: "artsy" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/winery.jpg", id: "winery", alt: "winery" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/puente.jpg", id: "puente", alt: "puente" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/mountain.jpg", id: "mountain", alt: "mountain" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/corona.jpg", id: "corona", alt: "corona" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/llama.jpg", id: "llama", alt: "llama" %>
      </div>

      <div class="column">
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/door.jpg", id: "door", alt: "door" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/lexi2.jpg", id: "lexi2", alt: "lexi2" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/baja.jpg", id: "baja", alt: "baja" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/cafe.jpg", id: "cafe", alt: "cafe" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/intel.jpg", id: "intel", alt: "intel" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/tracks.jpg", id: "tracks", alt: "tracks" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/guangzhou.jpg", id: "guangzhou", alt: "guangzhou" %>
      </div>

      <div class="column">
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/boat.jpg", id: "boat", alt: "boat" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/spike.jpg", id: "spike", alt: "spike" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/waterfall.JPG", id: "waterfall", alt: "waterfall" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/bridge.JPG", id: "bridge", alt: "bridge" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/flower.jpg", id: "flower", alt: "flower" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/drink.png", id: "drink", alt: "drink" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/android.jpg", id: "android", alt: "android" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/salty.jpg", id: "salty", alt: "salty" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/santacruz.jpg", id: "santacruz", alt: "santacruz" %>
      </div>

      <div class="column">
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/bigsur.jpg", id: "ocean", alt: "ocean" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/shanghai.jpg", id: "shanghai", alt: "shanghai" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/redboats.jpg", id: "boats", alt: "redboats" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/hp.jpg", id: "hp", alt: "hp" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/island.JPG", id: "island", alt: "island" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/pantano.jpg", id:"pantano", alt:"pantano" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/pagoda.jpg", id: "pagoda", alt: "pagoda" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/crater.JPG", id: "lake", alt: "crater" %>
        <%= image_tag "https://alice-portfolio-staging.s3.amazonaws.com/portfolio/pukara.jpg", id: "pukara", alt: "pukara" %>
      </div>
    </div>
  </div>
</section>
